* {
  transition: all 0.5s ease;
}

body {
  background-image: url("/sand.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  text-align: center;
  text-decoration-line: underline;
  text-decoration-color: black;
  text-underline-position: under;
  color: #0ff;
  font-size: 40px;
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}
.container {
  display: flex;
  justify-content: space-evenly;
  height: 50vh;
  align-items: flex-end;
}
.one {
  height: 20px;
  width: 25px;
  background-color: aqua;
  border: 0.75px black solid;
  text-align: center;
}

.two {
  height: 20px;
  width: 50px;
  background-color: aqua;
  border: 0.75px black solid;
  text-align: center;
}

.three {
  height: 20px;
  width: 75px;
  background-color: aqua;
  border: 0.75px black solid;
  text-align: center;
}

.four {
  height: 20px;
  width: 100px;
  background-color: aqua;
  border: 0.75px black solid;
  text-align: center;
}
.five {
  height: 20px;
  width: 125px;
  background-color: aqua;
  border: 0.75px black solid;
  text-align: center;
}

.place-holder {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 125px;
  height: 50vh;
  padding: 10px 5px;
  border-bottom: 5px solid black;
}

.drag-over {
  box-shadow: 1px 1px 100px 20px #0ff;
}

.winner {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
}

span {
  cursor: pointer;
}

.winner-words {
  background-color: white;
  position: absolute;
  text-align: center;
  top: 40%;
  left: 30%;
  width: 40%;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #0ff;
}
.rulesBtn {
  background-color: #0ff;
}
.rules {
  display: none;
}
