
h1{
  text-align: center;
}
.container {
  display: flex;
  justify-content: space-evenly;
  height: 50vh;
  align-items: flex-end;
}
.one {
height: 20px;
width: 100px;
background-color: aqua;
border: .75px black solid;
text-align: center;
}

.two{
  height: 20px;
  width: 75px;
  background-color: aqua;
  border: .75px black solid;
  text-align: center;
}

.three{
  height: 20px;
  width: 50px;
  background-color: aqua;
  border: .75px black solid;
  text-align: center;
}

.place-holder {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 125px;
  height: 50vh;
  padding: 10px 5px;
  border: 1px solid black;
}

.drag-over{
  border: dashed 2px red;
}